body {
    font-size: 62.5%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75em;
    font-size: 2.0rem;
    background-color: snow;
}

.logo {
    font-size: 2.4rem;
    font-weight: 700;
    margin: auto;
}

.logo::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' style='fill: rgba(0, 0, 0, 1);transform: ;msFilter:;'%3E%3Cpath d='M19.15 8a2 2 0 0 0-1.72-1H15V5a1 1 0 0 0-1-1H4a2 2 0 0 0-2 2v10a2 2 0 0 0 1 1.73 3.49 3.49 0 0 0 7 .27h3.1a3.48 3.48 0 0 0 6.9 0 2 2 0 0 0 2-2v-3a1.07 1.07 0 0 0-.14-.52zM15 9h2.43l1.8 3H15zM6.5 19A1.5 1.5 0 1 1 8 17.5 1.5 1.5 0 0 1 6.5 19zm10 0a1.5 1.5 0 1 1 1.5-1.5 1.5 1.5 0 0 1-1.5 1.5z'%3E%3C/path%3E%3C/svg%3E");
    width: 20em;
    height: 20em;
}

.menu {
    display: block;
    position: absolute;
    width: 100vmax;
    height: 100vmax;
    top: 0;
    left: 0;
    background: white;
    overflow: hidden;
    z-index: 999;
}

.hamburger-menu {
    align-self: flex-end;
    cursor: pointer;
}
