:root {
    --clr-dark-gray: #31302b;
    --clr-purple: #b12496; 
    --clr-coral: #f47d65;
}

body {
    font-size: 62.5%;
    position: relative;
    font-family: "Merriweather", sans-serif;
    color: var(--clr-dark-gray);
}

nav {
    position: fixed;
    width: calc(100vw - 1.5em);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75em;
    font-size: 2.0rem;
    background-color: snow;
    z-index: 998;
}

.logo {
    font-size: 2.4rem;
    font-weight: 700;
    margin: auto;
    color: var(--clr-dark-gray);
    font-family: 'Abril Fatface', sans-serif;
}

.logo::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' style='fill: rgba(0, 0, 0, 1);transform: ;msFilter:;'%3E%3Cpath d='M19.15 8a2 2 0 0 0-1.72-1H15V5a1 1 0 0 0-1-1H4a2 2 0 0 0-2 2v10a2 2 0 0 0 1 1.73 3.49 3.49 0 0 0 7 .27h3.1a3.48 3.48 0 0 0 6.9 0 2 2 0 0 0 2-2v-3a1.07 1.07 0 0 0-.14-.52zM15 9h2.43l1.8 3H15zM6.5 19A1.5 1.5 0 1 1 8 17.5 1.5 1.5 0 0 1 6.5 19zm10 0a1.5 1.5 0 1 1 1.5-1.5 1.5 1.5 0 0 1-1.5 1.5z'%3E%3C/path%3E%3C/svg%3E");
    width: 20em;
    height: 20em;
}

#menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: white;
    overflow: hidden;
    z-index: 999;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    opacity: .95;
}

#menu li {
    padding: 0.35em;
    cursor: pointer;
}

#menu box-icon {
    margin-right: 1em;
}

#menu a {
    color: var(--clr-dark-gray);
    text-decoration: none;
}

#menu .exit {
    position: absolute;
    top: 1em;
    right: 1em;
    cursor: pointer;
}

.exit::after {
    content: "Terug";
    display: inline;
    font-size: 0.8rem;
    position: absolute;
    top: 3em;
    right: 1.5em;
}

.hamburger-menu {
    align-self: flex-end;
    cursor: pointer;
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: calc(100vw);
    height: calc(100vh - 1em);
    overflow: hidden;
    z-index: 0;
}

h1 {
    color: #31302b;
    background-image: -webkit-linear-gradient(0deg, #31302b 0%,#b12496 33%,#f47d65 67%);
    background-clip: text;
    -webkit-background-clip: text;
    -text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
    padding: 2rem;
    line-height: 4rem;
    position: relative;
    text-shadow: rgba(62,66,66,0.2) 24px 10px 27px;
    z-index: 2;
}

h1::before {
    content: '';
    background-image: url('./img/uuundulate.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 15em;
    height: 15em;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .1;
    z-index: 0;
}

h1::after {
    content: "";
    display: block;
    background-image: url('./img/pellets.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 5em;
    left: 0em;
    width: 3em;
    height: 3em;
    z-index: 0;
    opacity: .2;
}

h1 span.underlined {

    text-decoration-line: underline;
    text-decoration-style: "solid";
    text-decoration-color: var(--clr-dark-gray);
    text-decoration-thickness: 4px;
}

.subhead {
    padding: 3rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

button.primary-cta {
    background: linear-gradient(to right, #31302b, #b12496, #f47d65); 
    padding: 1em 2em;
    border-radius: 5em;
    border: 0;
    color: snow;
    font-weight: 600;
    font-family: 'Roboto';
    letter-spacing: .1rem;
}

button.secondary-cta {
    border: 3px var(--clr-coral) solid;
    border-radius: 5em;
    padding: 1em 2em;
    font-weight: 600;
    font-family: 'Roboto';
    letter-spacing: .1rem;
}